<table class="tile color-contrast">
	<thead>
		<tr>
			<th>Color</th>
			<th>#ffffff</th>
			<th class="text-black">#000000</th>
			<th class="text-primary-green">#62a70f</th>
			<th class="text-primary-blue">#003366</th>
			<th class="text-bright-blue">#249dd6</th>
			<th class="text-dark-blue">#070c20</th>
			<th class="text-medium-green">#648c1c</th>
			<th class="text-dark-green">#004f34</th>
			<th>#c3d600</th>
			<th class="text-alert-orange">#db5c0d</th>
			<th class="text-gray">#5a7881</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>#ffffff</td>
			<td class="bg-white text-white"></td>
			<td class="bg-black text-white"></td>
			<td class="bg-primary-green text-white"></td>
			<td class="bg-primary-blue text-white"></td>
			<td class="bg-bright-blue text-white"></td>
			<td class="bg-dark-blue text-white"></td>
			<td class="bg-medium-green text-white"></td>
			<td class="bg-dark-green text-white"></td>
			<td class="bg-acid-green text-white"></td>
			<td class="bg-alert-orange text-white"></td>
			<td class="bg-gray text-white"></td>
		</tr>
		<tr>
			<td class="text-black">#000000</td>
			<td class="bg-white text-black"></td>
			<td class="bg-black text-black"></td>
			<td class="bg-primary-green text-black"></td>
			<td class="bg-primary-blue text-black"></td>
			<td class="bg-bright-blue text-black"></td>
			<td class="bg-dark-blue text-black"></td>
			<td class="bg-medium-green text-black"></td>
			<td class="bg-dark-green text-black"></td>
			<td class="bg-acid-green text-black"></td>
			<td class="bg-alert-orange text-black"></td>
			<td class="bg-gray text-black"></td>
		</tr>
		<tr>
			<td class="text-primary-green">#62a70f</td>
			<td class="bg-white text-primary-green"></td>
			<td class="bg-black text-primary-green"></td>
			<td class="bg-primary-green text-primary-green"></td>
			<td class="bg-primary-blue text-primary-green"></td>
			<td class="bg-bright-blue text-primary-green"></td>
			<td class="bg-dark-blue text-primary-green"></td>
			<td class="bg-medium-green text-primary-green"></td>
			<td class="bg-dark-green text-primary-green"></td>
			<td class="bg-acid-green text-primary-green"></td>
			<td class="bg-alert-orange text-primary-green"></td>
			<td class="bg-gray text-primary-green"></td>
		</tr>
		<tr>
			<td class="text-primary-blue">#003366</td>
			<td class="bg-white text-primary-blue"></td>
			<td class="bg-black text-primary-blue"></td>
			<td class="bg-primary-green text-primary-blue"></td>
			<td class="bg-primary-blue text-primary-blue"></td>
			<td class="bg-bright-blue text-primary-blue"></td>
			<td class="bg-dark-blue text-primary-blue"></td>
			<td class="bg-medium-green text-primary-blue"></td>
			<td class="bg-dark-green text-primary-blue"></td>
			<td class="bg-acid-green text-primary-blue"></td>
			<td class="bg-alert-orange text-primary-blue"></td>
			<td class="bg-gray text-primary-blue"></td>
		</tr>
		<tr>
			<td class="text-bright-blue">#249dd6</td>
			<td class="bg-white text-bright-blue"></td>
			<td class="bg-black text-bright-blue"></td>
			<td class="bg-primary-green text-bright-blue"></td>
			<td class="bg-primary-blue text-bright-blue"></td>
			<td class="bg-bright-blue text-bright-blue"></td>
			<td class="bg-dark-blue text-bright-blue"></td>
			<td class="bg-medium-green text-bright-blue"></td>
			<td class="bg-dark-green text-bright-blue"></td>
			<td class="bg-acid-green text-bright-blue"></td>
			<td class="bg-alert-orange text-bright-blue"></td>
			<td class="bg-gray text-bright-blue"></td>
		</tr>
		<tr>
			<td class="text-dark-blue">#070c20</td>
			<td class="bg-white text-dark-blue"></td>
			<td class="bg-black text-dark-blue"></td>
			<td class="bg-primary-green text-dark-blue"></td>
			<td class="bg-primary-blue text-dark-blue"></td>
			<td class="bg-bright-blue text-dark-blue"></td>
			<td class="bg-dark-blue text-dark-blue"></td>
			<td class="bg-medium-green text-dark-blue"></td>
			<td class="bg-dark-green text-dark-blue"></td>
			<td class="bg-acid-green text-dark-blue"></td>
			<td class="bg-alert-orange text-dark-blue"></td>
			<td class="bg-gray text-dark-blue"></td>
		</tr>
		<tr>
			<td class="text-medium-green">#648c1c</td>
			<td class="bg-white text-medium-green"></td>
			<td class="bg-black text-medium-green"></td>
			<td class="bg-primary-green text-medium-green"></td>
			<td class="bg-primary-blue text-medium-green"></td>
			<td class="bg-bright-blue text-medium-green"></td>
			<td class="bg-dark-blue text-medium-green"></td>
			<td class="bg-medium-green text-medium-green"></td>
			<td class="bg-dark-green text-medium-green"></td>
			<td class="bg-acid-green text-medium-green"></td>
			<td class="bg-alert-orange text-medium-green"></td>
			<td class="bg-gray text-medium-green"></td>
		</tr>
		<tr>
			<td class="text-dark-green">#004f34</td>
			<td class="bg-white text-dark-green"></td>
			<td class="bg-black text-dark-green"></td>
			<td class="bg-primary-green text-dark-green"></td>
			<td class="bg-primary-blue text-dark-green"></td>
			<td class="bg-bright-blue text-dark-green"></td>
			<td class="bg-dark-blue text-dark-green"></td>
			<td class="bg-medium-green text-dark-green"></td>
			<td class="bg-dark-green text-dark-green"></td>
			<td class="bg-acid-green text-dark-green"></td>
			<td class="bg-alert-orange text-dark-green"></td>
			<td class="bg-gray text-dark-green"></td>
		</tr>
		<tr>
			<td>#c3d600</td>
			<td class="bg-white text-acid-green"></td>
			<td class="bg-black text-acid-green"></td>
			<td class="bg-primary-green text-acid-green"></td>
			<td class="bg-primary-blue text-acid-green"></td>
			<td class="bg-bright-blue text-acid-green"></td>
			<td class="bg-dark-blue text-acid-green"></td>
			<td class="bg-medium-green text-acid-green"></td>
			<td class="bg-dark-green text-acid-green"></td>
			<td class="bg-acid-green text-acid-green"></td>
			<td class="bg-alert-orange text-acid-green"></td>
			<td class="bg-gray text-acid-green"></td>
		</tr>
		<tr>
			<td class="text-alert-orange">#db5c0d</td>
			<td class="bg-white text-alert-orange"></td>
			<td class="bg-black text-alert-orange"></td>
			<td class="bg-primary-green text-alert-orange"></td>
			<td class="bg-primary-blue text-alert-orange"></td>
			<td class="bg-bright-blue text-alert-orange"></td>
			<td class="bg-dark-blue text-alert-orange"></td>
			<td class="bg-medium-green text-alert-orange"></td>
			<td class="bg-dark-green text-alert-orange"></td>
			<td class="bg-acid-green text-alert-orange"></td>
			<td class="bg-alert-orange text-alert-orange"></td>
			<td class="bg-gray text-alert-orange"></td>
		</tr>
		<tr>
			<td class="text-gray">#5a7881</td>
			<td class="bg-white text-gray"></td>
			<td class="bg-black text-gray"></td>
			<td class="bg-primary-green text-gray"></td>
			<td class="bg-primary-blue text-gray"></td>
			<td class="bg-bright-blue text-gray"></td>
			<td class="bg-dark-blue text-gray"></td>
			<td class="bg-medium-green text-gray"></td>
			<td class="bg-dark-green text-gray"></td>
			<td class="bg-acid-green text-gray"></td>
			<td class="bg-alert-orange text-gray"></td>
			<td class="bg-gray text-gray"></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><button class="toggle">Toggle Fade</button></td>
		</tr>
	</tfoot>
</table>